@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}