html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

ion-card {
  position: relative;
  width: 350px;
  border-radius: 9px;
  margin: auto;
  margin-top: 1rem;
}

ion-card img {
  width: 350px;
  height: 180px;

}

.card-rate {
  width: 60px;
  height: 35px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #B70014;
  color: #FFFFFF;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 6px;
}

.card-title {
  width: 350px;
  color: #1A1824;
  padding: 0rem 0.5rem;
  margin-top: -5px;
}

.card-title h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px;
}

.card-subtitle {
  width: 350px;
  height: 30px;
  padding: 0rem 0.5rem;
  margin-bottom: 10px;

}

.cesit {
  font-weight: 700;
  float: left;
  font-size: 12px;
}

.min-tutar {
  float: right;
  font-weight: 700;
  font-size: 12px;
}

.card-restoran {
  width: 350px;
  height: 30px;
  padding: 0rem 0.5rem;
}

.card-distance {
  float: left;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0px;
  color: #1A1824;

}

.card-hours {
  float: right;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0px;
}